body {
  color: white;
  background-color: black;
  text-align: center;
}

#click-button {
  background-color: #FF9881;
  height: 50px;
  width: 100px;
}

#inner {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

#outer {
  height: 100px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}