body {
  color: white;
  background-color: black;
  text-align: center;
}

#star-class {
  font-weight: bold;
  color: #E22CFF;
  font-size: 25px;
}

#final-message {
  font-weight: bold;
  color: #00B70E;
  font-size: 35px;
}

#click-button {
  background-color: #FF9881;
  height: 50px;
  width: 100px;
}